{% extends "base.twig" %}

{% block content %}
  <div class="container content-wrapper">
    <div class="page-about">
      {{ fields.desciption }}
    </div>
  </div><!-- /content-wrapper -->
{% endblock %}