<{{data.tag}}
    class="a-split-title -en"
>
    {% for i in data.title %}
        <div class="a-split-title-wrapper">
            <span>{{ i }}</span>
        </div>
    {% endfor %}
</{{data.tag}}>