$font-weight: (
    light: 300,
    normal: 400,
    bold: 700
);
$font-family: (
    default: #{
        'Helvetica Neue',
        'Helvetica',
        'Noto Sans TC',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Microsoft YaHei UI',
        Roboto,
        sans-serif
    },
    en: #{
        'Helvetica',
        'Noto Sans TC',
        'Microsoft YaHei UI',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        sans-serif
    },
);

@mixin typo($lv, $type) {
    @if $lv == 'display' {
        @if $type == 1 {
            font-size: 5.5vw;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 0;

            body.language-en &, &.-en {
                font-size: 70px;
                font-family: map-get($font-family, en);
                line-height: 84px;
            }

            @include media-breakpoint-down(tablet) {
                body.language-en &, &.-en {
                    font-size: 60px;
                    line-height: 72px;
                }
            }
        } @else {
            @error '#{$type}：沒有這個type';
        }
    } @else if $lv == 'heading' {
        @if $type == 1 {
            font-size: 2.5rem;
            font-weight: map-get($font-weight, normal);
            line-height: 55px;
            letter-spacing: 0;

            body.language-en &, &.-en {
                font-size: 3rem;
                font-family: map-get($font-family, en);
                line-height: normal;
            }

            @include media-breakpoint-down(tablet) {
                font-size: 2.14rem;
                line-height: 40px;
            }
        } @else if $type == 2 {
            font-size: 2rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 0;
        } @else if $type == 3 {
            font-size: 1.5rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 0;

            body.language-en &, &.-en {
                font-size: 1.5rem;
                font-family: map-get($font-family, en);
                line-height: normal;
            }
        } @else if $type == 4 {
            font-size: 1.125rem;
            font-weight: map-get($font-weight, normal);
            line-height: 31px;
            letter-spacing: 0;

            body.language-en &, &.-en {
                font-size: 1.5rem;
                font-family: map-get($font-family, en);
                line-height: 40px;
            }

            @include media-breakpoint-down(tablet) {
                font-size: 1.48rem;
            }
        } @else {
            @error '#{$type}：沒有這個type';
        }
    } @else if $lv == 'body' {
        @if $type == 1 {
            font-size: 16px;
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 2px;

            body.language-en &, &.-en {
                font-size: 16px;
                font-family: map-get($font-family, en);
                line-height: normal;
            }

            @include media-breakpoint-down(tablet) {
                font-size: 16px;

                body.language-en &, &.-en {
                    font-size: 16px;
                }
            }
        } @else if $type == 2 {
            font-size: 0.875rem;
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 0;
        } @else if $type == 3 {
            font-size: 0.75rem;
            font-weight: map-get($font-weight, normal);
            line-height: normal;
            letter-spacing: 0;
        } @else {
            @error '#{$type}：沒有這個type';
        }
    }
}

@font-face {
    font-family: 'fontello';
    src: url('~/font/fontello.eot');
    src: url('~/font/fontello.eot') format('embedded-opentype'),
         url('~/font/fontello.woff2') format('woff2'),
         url('~/font/fontello.woff') format('woff'),
         url('~/font/fontello.ttf') format('truetype'),
         url('~/font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-fb_big:before { content: '\e803'; } /* '' */
  .icon-fb_sml:before { content: '\e804'; } /* '' */
  .icon-leaf_big:before { content: '\e805'; } /* '' */
  .icon-leaf_sml:before { content: '\e806'; } /* '' */
  .icon-line_big:before { content: '\e807'; } /* '' */
  .icon-line_sml:before { content: '\e808'; } /* '' */
  .icon-link_big:before { content: '\e809'; } /* '' */
  .icon-phone_sml:before { content: '\e80b'; } /* '' */
  .icon-arrow:before { content: '\e80c'; } /* '' */
  .icon-down:before { content: '\e80e'; } /* '' */
  .icon-close:before { content: '\e810'; } /* '' */
  .icon-menu:before { content: '\e811'; } /* '' */
  